// 样式Functions

Border-radius(val)
  border-radius val

Border-top-1px()
  border-top arguments

Border-right-1px()
  border-right arguments

Border-bottom-1px()
  border-bottom arguments

Border-left-1px()
  border-left arguments

@media only screen and (min-device-aspect-ratio: 1.5)
  Border-top-1px()
  Border-bottom-1px()
    &::after
       transform Y(.7)

@media only screen and (min-device-aspect-ratio: 2)
  Border-left-1px()
  Border-right-1px()
    &::after
      transform X(.5)

Position()
  position absolute unless @position
  z-index 1 unless @z-index

