@import "mixin.styl"

body
  font-size: 20px;

.border-raduis
  width w = 200px
  height 30px
  margin-top w / 2
  border 1px solid red

.shopScores
  width 300px
  margin-top 50px
  Border-top-1px 1px solid green

li a
  display: block
  color: blue
  padding: 5px
  html.ie &
    padding: 6px
  &:hover
    color: red

.position
  Position()
  position relative

